/* ----- FOOTER ----- */

.footer__box {
    background-color: rgb(39, 39, 39);
    font-size: 0.9em;
    padding: 20px 0;
}

.footer__descr {
    display: flex;
    justify-content: space-around;
}

#descr__footer {
    max-width: 30%;
    text-align: center;
}

/* ----- MEDIA QUERYS ----- */

@media screen and (max-width: 768px) {
    .footer__descr {
        text-align: center;
        display: block;
    }

    #descr__footer {
        max-width: 100%;
    }

    .footer__box img {
        width: 20%;
    }
}