* {
    font-family: 'Source Sans Pro', sans-serif;
}

.grid > header,
.grid > main,
.grid > footer {
    border: 2px solid black;
}

.grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.no-desbordable {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ------- HEADER ------- */

header {
    display: grid;
    grid-template-rows: 25px 75px;
    color: white;
    position: fixed;
    width: 100%;
}

/* ----- NAV-CONTACT ----- */

.nav-contact-box {
    background-color: #364bbe;
    line-height: 25px;
}

.nav-contact {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin: 0;
}

.nav-contact-link {
    text-decoration: none;
    color: white;
    transition: all 0.5s ease;
    padding: 10px;
}

.nav-contact-item {
    font-size: 15px;
    min-width: fit-content;
}

.nav-toggle {
    background: none;
    color: white;
    border: none;
}

.nav-contact-link:hover {
    transform: scale(1.1);
    background: rgba(255, 255, 255, 0.233);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/* ----- NAV-MENU ----- */

.nav-menu-box {
    background-color: darkblue;
    line-height: 75px;
}

.nav-menu-container {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
}


/* --- LOGO --- */

.logo {
    width: 100px;
    vertical-align: middle;
}

/* --- BUSCAR --- */

.buscar {
    height: 75px;
    position: relative; /*puse relative para que al expandirse el bucador
    no se superponga con los otros elementos*/
    display: flex;
    align-items: center;
}

.buscar input {
    width: 0px;
    opacity: 0;
    height: 35px;
    padding: 0 7px;
    color: black;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    transition: all 0.6s ease;
}

.btn {
    right: -5px;
    position: absolute;
    background: #cf1104;
    width: 50px;
    height: 50px;
    font-size: 20px;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    
    /* para el logito de la lupa */
    display: flex;
    justify-content: center;
}

.btn i {
    padding-top: 13px;
    line-height: 25px;
}

.buscar:hover input, .buscar input:focus {
    width: 240px;
    opacity: 1;
}

/* --- MENU --- */

.nav-menu {
    height: 75px;
    height: 400px;
}

.menu {
    display: flex;
    margin: 0;
    gap: 2px;
}

.menu-item {
    list-style: none;
    position: relative;
}

.menu-item-link {
    text-decoration: none;
    color: white;
    padding: 14px;
    transition: all 300ms ease;
}

.menu-item-link:hover {
    transform: scale(1.1);
    background: rgba(167, 11, 0);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#selected {
    transform: scale(1.1);
    background-color: rgba(167, 11, 0);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.menu-item:first-child > .menu-item-link {
    background-image: url(../iconos/home.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 14px 26px;
}

/* - SUBMENU - */

.submenu, .submenu-2, .submenu-3 {
    list-style: none;
    width: 180px;
    display: flex;
    flex-direction: column;
    background: rgba(167, 11, 0);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    position: absolute;
    padding: 4px 0px;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    transition: all 300ms ease;
    top: 150px;
    left: -5px;
    padding-bottom: 13px;
}

.submenu-2, .submenu-3 {
    left: -180px;
    background: #00008b;
}

#submenu-2 {
    width: 250px;
    left: -250px;
}

.menu-item:hover .submenu,
.submenu-item:hover .submenu-2,
.submenu-item-2:hover .submenu-3{
    visibility: visible;
    opacity: 1;
    top: 60px;
}

.submenu-item:hover .submenu-2 {
    top: 20px;
}

.submenu-item-2:hover .submenu-3 {
    top: 10px;
}

#submenu-item-inst:hover .submenu-2 {
    top: 55px;
}

#submenu-item-combos:hover .submenu-2 {
    top: 90px;
}

#submenu-item-arm:hover .submenu-2 {
    top: 130px;
}

.submenu:before {
    /*triangulito encima del submenu*/
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid rgba(167, 11, 0);
    top: -12px;
    left: 20px;
}

.submenu-item-link,
.submenu-item-link-2,
.submenu-item-link-3 {
    text-decoration: none;
    display: block;
    color: white;
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    transition: all 300ms ease;
    height: 15px;
    line-height: 15px;
}

.submenu-item-link:hover,
.submenu-item-link-2:hover,
.submenu-item-link-3:hover {
    background: #00008b;
    transform: scale(1.1);
    padding-left: 30px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.submenu-item-link-2:hover,
.submenu-item-link-3:hover {
    background: rgba(167, 11, 0);
}

/* ----- MAIN ----- */

main {
    margin-top: 100px;
}