* {
    margin: 0;
    padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
    color: ghostwhite;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px, auto);
}

/* ----- HEADER ----- */

.header {
    color: ghostwhite;
    position: sticky;
    top: 0;
    z-index: 20;
    box-shadow: 0px 1px 3px black;
}

/* --- NAV-CONTACT --- */

.nav-contact {
    display: flex;
    justify-content: space-around;
    background-color:  #cf1104;
    height: 30px;
    line-height: 30px;
}

.nav-contact-item {
    list-style: none;
    font-size: 12px;
    min-width: fit-content;
}

.nav-link {
    text-decoration: none;
    border-radius: 3px;
    transition: 0.5s;
    color: ghostwhite;
    padding: 8px 12px;
}

.nav-link:hover {
    background-color: rgb(124, 0, 0);
}

.nav-toggle {
    color: whitesmoke;
    background: none;
    border: none;
    inline-size: 3em;
    margin: 0 -10px
}

/* --- NAV --- */

.nav {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    background-color: #00008b;
    height: 70px;
    line-height: 70px;
}

.nav > div {
    display: inherit;
}

/* - LOGO - */

.nav .logo {
    inline-size: 100px;
    vertical-align: middle; 
}

/* - BUSCAR - */

.buscar {
    position: relative; /*puse relative para que al expandirse el bucador
    no se superponga con los otros elementos*/
    align-self: center;
}

.buscar input {
    width: 0px;
    opacity: 0;
    height: 35px;
    padding: 0 7px;
    color: black;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    transition: all 0.6s ease;
}

.btn {
    right: -5px;
    margin-top: -5px;
    position: absolute;
    background: #cf1104;
    width: 50px;
    height: 50px;
    font-size: 20px;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    
    display: flex;
    justify-content: center;
}

.btn i {
    padding-top: 13px;
    line-height: 25px;
}

.buscar:hover input, .buscar input:focus {
    width: 240px;
    opacity: 1;
}


/* ----- PORTADA ----- */

.capa-gradiente{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(312deg, rgba(0,0,128,0.5018382352941176) 65%, rgba(207,17,4,1) 100%);
}

.portada {
    grid-row: 2/7;

    display: flex;
    justify-content: center;

    box-shadow: 0px 0px 3px black;
}

.portada-img {
    background-image: url(../img/portada.jpg);
    position: relative;
    background-size: cover;
	background-position: center center;
}

.portada-detalles {
    z-index: 10;
    color: ghostwhite;
    font-size: 1.5em;
    text-align: center;
    margin: auto;

    max-width: 60%;
}

.portada-detalles > h2 {
    color: black;
    font-size: 1.7em;
}

.portada-detalles > p {
    text-align: justify;
}

/* ----- SLIDER ----- */

.slider {
    grid-row: 7/9;
}
