/* ----- MAIN ----- */

.capa-gradiente{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(312deg, rgba(0,0,128,0.5018382352941176) 65%, rgba(207,17,4,1) 100%);
}

.portada {    
    display: flex;

    z-index: -10; /*para que se vea el menu desplegable */
}

 .portada-img {
    background-image: url(../img/portada.jpg);
    height: calc(100vh - 75px);
    position: relative;
    box-shadow: 0px 0px 10px black;

    animation: movimiento__portada 20s infinite linear alternate;
} 

.portada-detalles {
    text-shadow: 1px 1px 3px black;
    
    z-index: 5;
    margin: auto;
    text-align: center;

    max-width: 65%;
}

.portada-detalles > h2 {
    color: #cf1104;
    font-size: 3em;
    text-transform: uppercase;
}

.portada-detalles > p {
    color: ghostwhite;
    font-size: 1.5em;
}

/* --- BOTONES SERVICIOS --- */

.carousel__servicios {
    background-color: #0077ff;
    padding: 1vh 0;
}

.carousel__servicios .card-box {
    padding: 3vh 0;
}

.fondo {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: movimiento__servicios 20s infinite linear alternate;
}

.fondo:hover {
    background-size: 300%;        
}

.card__link:hover {
    color: #cf1104;
}
.card__link {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 3px black;
    transition: all 0.4s ease;
    font-size: 1.3em;
    cursor: pointer;
}

#img__mant {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/mant.png);
}
#img__inst {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/inst.png);
}
#img__combos {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/combos.png);
}
#img__arm {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/arm.png);
}
 
.carousel__servicios > h2 {
    color: #eeeeee;
}

/* --- VALORACION --- */

.valoracion__box {
    background: #eeeeee;
}

.valoracion {
    width: 80%;
    margin: auto;
    padding: 10vh 0;
}

/* ------- KEYFRAMES ------- */

@keyframes movimiento__portada {
    from{
        background-position: bottom left;
    }to{
        background-position: top right;
    }
}

@keyframes movimiento__servicios {
    from{
        background-position: left;
    }to{
        background-position: right;
    }
}

/* ----- NEDIA QUERYS ----- */

@media screen and (max-width: 1023px) {

    .portada-detalles {
        text-align: center;
        max-width: 100%;
    }

    .portada-detalles h2 {
        font-size: 1.8em;
    }

    .portada-detalles p {
        line-height: 1.5em;
    }

    .card-box {
        flex-wrap: wrap;   
    }

    .card {
        height: 10vh;
    }

    .fondo {
        background-size: 200%;
    }

    /* - SERVICIOS- */

    .carousel__servicios {
        display: flex;
        flex-direction: column !important;
        justify-content: center !important;
    }

    /* - VALORACION - */

    .valoracion {
        width: 60%;
        height: calc(100vh - 50px);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}

@media screen and (max-width: 1023px) and (orientation: landscape) {
    body {
        font-size: 0.8em;
    }

    .portada {
        height: calc(100vh - 50px);
    }
}

@media screen and (max-width: 480px) {
    .portada-detalles h2 {
        font-size: 1.6em;
    }

    .portada-detalles p {
        font-size: 1.2em;
    }

    .carousel__ig h2, .carousel__servicios h2, .contact-box h2 {
        font-size: 1.7em;
    }

}
