/* ----- PORTADA ----- */

.servicios {
    font-size: 1em;
    top: 75px;
}

.portada__servicios .portada-img {
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 10px black;
}

#portada__mant {
    background-image: linear-gradient(312deg, rgba(0,0,128,0.5018382352941176) 65%, rgba(207,17,4,1) 100%), url("/img/mant.png");
}

#portada__inst {
    background-image: linear-gradient(312deg, rgba(0,0,128,0.5018382352941176) 65%, rgba(207,17,4,1) 100%), url("/img/inst.png");
}

#portada__comb {
    background-image: linear-gradient(312deg, rgba(0,0,128,0.5018382352941176) 65%, rgba(207,17,4,1) 100%), url("/img/combos.png");
}

#portada__arm {
    background-image: linear-gradient(312deg, rgba(0,0,128,0.5018382352941176) 65%, rgba(207,17,4,1) 100%), url("/img/arm.png");
}

.portada__servicios .portada-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.portada__servicios .portada-detalles {
    margin: 0 auto;
}

.portada__servicios .portada-detalles h2 {
    font-size: 4em;
    line-height: 0;
}

/* -- BOTONES EN PORTADA -- */

.botones__portada {
    display: flex;
    margin: 0 auto;
    padding: 0 5%;
    width: 80%;
}

.botones__portada .card {
    box-shadow: 0px 0px 3px black;
    width: 20vw;
    height: 30vh;
}

.botones__portada .fondo {
    animation: none;
    background-size: 100%;
}

.botones__portada .fondo:hover {
    animation: movimiento__servicios 20s infinite linear alternate;
    background-size: 200%;
}

.botones__portada .card__link:hover {
    color: gold;
}

#img__comp {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/img/servicios/comp_img.png);
}

#img__sist {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/img/servicios/sist_img.png);
}

#img__wind {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/img/servicios/inst_img.png);
}

#img__prog {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/img/servicios/prog_img.png);
}

#img__form {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/img/servicios/form_img.png);
}

#img__int {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/img/servicios/inte_img.png);
}

#img__armcomp {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/img/servicios/armcomp_img.png);
}

#img__act {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/img/servicios/act_img.png);
}

/* ----- INFO SERVICIOS ----- */

.info-servicios__box .capa__gradiente {
    background: linear-gradient(270deg, rgba(0,0,0,0.2) 5%, rgba(0,0,0,0) 100%);
}

.info-servicios {
    display: flex;
    flex-direction: column;
}

.info-servicios__card {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    gap: 5%;
    height: 100vh;
}

.info-servicios__card .info {
    font-size: 1.5em;
}

.info-servicios__card .info h3 {
    text-transform: uppercase;
    text-align: left;
}

    /* --- INFO UNO --- */

    .info__uno {
        background-color: #eeeeee;
    }

    .info__uno .info {
        color: black;
    }

    .info__uno h3 {
        color: #0000ff;
    }

    /* --- INFO DOS --- */

    .info__dos {
        background-color: #0077ff;
    }

    .info__dos .info-servicios__card {
        flex-direction: row-reverse;
    }

    .info__dos h3 {
        color: #00008b;
    }

    /* --- INFO TRES --- */

    .info__tres {
        background-color: #0000ff;
    }

    .info__tres h3 {
        color: #cf1104;
    }

/* ------- MEDIA QUERYS ------- */

@media screen and (max-width: 768px) and (orientation: landscape) {
    .info-servicios__card {
        flex-direction: column !important;
        flex-wrap: wrap !important;
        height: auto;
    }
}

@media screen and (max-width: 1023px) {

    .servicios {
        font-size: 0.8em;
    }

    /* ----- PORTADA ----- */

    .portada__servicios .portada-box {
        height: calc(100vh - 75px);
    }

    .portada__servicios .portada-detalles h2 {
        font-size: 2em;
    }

    .portada__servicios .portada-detalles {
        max-width: 80%;
    }

    /* -- BOTONES EN PORTADA -- */  

    .botones__portada .card-box {
        flex-direction: column;
        align-content: center;
    }

    .botones__portada .card {
        width: 35vh;
        height: auto;
    }

    .botones__portada .card__content {
        font-size: 0.8em;
    } 

    /* ----- INFO SERVICIOS ----- */

    .info-servicios {
        font-size: 0.9em;
    }

    .info-servicios img {
        width: 100%;
    }

    .info-servicios h3 {
        text-align: center !important;
    }

    .info-servicios__card {
        flex-direction: column !important;
        justify-content: center;
        flex-wrap: wrap;
    }

}

@media  screen and (max-width: 1023px) and (orientation: landscape) {

    .servicios {
        font-size: 0.7em;
    }

    .botones__portada .card-box {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .botones__portada .card {
        width: 20vw;
        height: 30vh;
    }

    /* --- INFO SERVICIOS --- */

    .info-servicios img {
        width: 30%;
    }

    .desk__on {
        display: contents;
    }

    .responsive__on {
        display: none;
    }

    .portada__servicios .portada-box {
        height: calc(100vh - 50px);
    }
} 